html,
body,
#root,
.App,
.map {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.ExtentDetails {
  position: absolute;
  max-width: 393px;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  textarea {
    box-sizing: border-box;
    width: 100%;
  }
}

.right {
  float: right;
}
